---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-2 sm:px-6 py-4 text-sm md:text-lg text-center font-medium">
    <span class="font-bold">
      UniKL:</span
    > "Where Knowledge is Applied and Dreams Realised"
  </div>
</section>
