---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'UniKL CACS - Centre for Alumni and Career Services',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      <span class="text-2xl tracking-normal">Universiti Kuala Lumpur ( UniKL )</span>
      <br />
      <span class="text-accent dark:text-white highlight">Centre for Alumni & Career Services (CACS)</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline text-gray-700">
        <span class="font-semibold text-black">( CACS )</span>  provide strong support for our UniKL Alumni.</span>
    </Fragment>
  </Hero>
  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Alumni since 2005', amount: '96K+' },
      { title: 'Institutes', amount: '12' },
      { title: 'Alumni ( 2024 )', amount: '6500+' },
      { title: 'CACS + ARCH', amount: '4 + 12' },
    ]}
  />

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->
</Layout>
